:root {
    --border-radius: 50px;
    --bgcolor: #181a1b;
    --static: url("static.gif");
    --gradient-angle: -45deg
}

body, nav, footer {
    background-color: var(--bgcolor);
    font-family: system-ui;
}

.loading {
    background-image: var(--static);
    border-radius: var(--border-radius)
}

.layout {
    border-radius: var(--border-radius);
}

.grayscale {
    background: linear-gradient(var(--gradient-angle), #323232, #646464, #969696);
}

.public {
    background: linear-gradient(var(--gradient-angle), #00007f, blue, #007fff, #00ffff);
}

.public-dark {
    background: linear-gradient(var(--gradient-angle), #00003f, #00007e, #0000bd, #0000fc);
}

.auth {
    background: linear-gradient(var(--gradient-angle), #007f00, #00ff00, #7fff00, #ffff00);
}

.auth-dark {
    background: linear-gradient(var(--gradient-angle), #003f00, #007f00, #00bd00, #00fc00);
}

.admin {
    background: linear-gradient(var(--gradient-angle), #3f3f00, #7f7f29, #bebe00, #fdfd00);
}

.admin-dark {
    background: linear-gradient(var(--gradient-angle), #1f1f00, #3f3f1d, #5e5e00, #7f7f00);
}

.error {
    background: linear-gradient(var(--gradient-angle), #000000, #7f0000, red, #ff7f00);
}

.error-dark {
    background: linear-gradient(var(--gradient-angle), black, #3f0000, #7f0101, #fc0000);
}

.rivalry {
    background: linear-gradient(var(--gradient-angle), #0085A8, black, #A82400);
}

.cotton-candy {
    background: linear-gradient(var(--gradient-angle) in oklab, #F538FF 30%, #42FF38 70%);
}

.retro {
    background: linear-gradient(var(--gradient-angle), #e42415, #eb6a29, #f0daac, #38bdac, #0b5394);
}

.sunset {
    background: linear-gradient(var(--gradient-angle) in oklab, #eeaf61, #fb9062, #ee5d6c, #ce4993, #6a0d83);
}

.beach {
    background: linear-gradient(var(--gradient-angle) in oklab, #daf8e3, #97ebdb, #00c2c7, #0086ad, #005582);
}

.planets {
    background: radial-gradient(circle at 40% 30%, rgb(200 95 8), transparent 15%),
    radial-gradient(circle at 30% 80%, rgb(96 110 36), transparent 5%),
    radial-gradient(circle at 55% 70%, rgb(38 156 5), transparent 10%),
    radial-gradient(circle at 57% 55%, rgb(115 119 114), transparent 2%),
    radial-gradient(circle at 75% 0%, rgb(225 139 82), transparent 25%),
    radial-gradient(circle at 0% 50%, rgb(200, 200, 50), rgb(50 50 0), transparent 50%),
    radial-gradient(circle at 100% 55%, rgb(3 179 153), transparent 10%),
    radial-gradient(circle at 80% 90%, rgb(250 5 5), transparent 10%), #050505;
}

.poison {
    background: linear-gradient(var(--gradient-angle) in oklch, #5ca904, #396b01, black, #340a5e, #730bdd);
}

.red-portal {
    background: repeating-radial-gradient(circle at top, #640000, black 250px);
}

.blueprint {
    background-color: #003366;
    background-image: linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .1) 1px, transparent 1px);
    background-size: 20px 20px;
}

.red-cubes {
    background-color: #000000;
    background-image: linear-gradient(45deg, rgb(78 0 0), transparent);
    background-size: 100px 100px;
}

.mesh {
    background: radial-gradient(at 0% 0%, rgba(255, 0, 150, 0.5) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(0, 255, 255, 0.5) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(255, 255, 0, 0.5) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgba(0, 0, 255, 0.5) 0px, transparent 50%);
}

.indigo {
    background: linear-gradient(var(--gradient-angle), #8b5cf6, #6366f1, #4c1d95, #1e1b4b);
}

.coffee {
    background: linear-gradient(var(--gradient-angle), #a96800, #995d00, #774900, #5a3700, #3d2500);
}

.holo {
    background: linear-gradient(var(--gradient-angle), #8A1EB5, #B51E94, #B51E49, #49B51E, #1EB58A);
}

.light-mint {
    background: linear-gradient(var(--gradient-angle), #BBE5B9, #B9E5CD, #B9E5E3);
}

.military {
    background: linear-gradient(var(--gradient-angle), #b8c4a0, #92a87a, #6f8a5a, #52633b, #2e3f24);
}

.caramel {
    background: linear-gradient(var(--gradient-angle), #c78752, #a97947, #a0734d, #8c6028, #80532d);
}

.tropical {
    background: linear-gradient(var(--gradient-angle), #04ff00, #00ff83, #00ffd2, #00bcff, #0083ff);
}

.hungary {
    background: linear-gradient(to bottom, red, white, white, green);
}

.static {
    background: var(--static)
}


.box {
    padding: 50px;
    color: white;
    box-shadow: 20px 25px black;
    background: #1a1c1d;
}

.alert-danger {
    background-color: darkred;
    border: 5px solid black
}


.box-dark {
    padding: 50px;
    color: white;
    box-shadow: 20px 20px black;
    background: var(--bgcolor)
}

.very-bad {
    border: 5px solid #400000;
    background: #800000
}

.bad {
    border: 5px solid #800000;
    background: #c40000
}

.mid {
    border: 5px solid #404000;
    background: #808000
}

.good {
    border: 5px solid #004000;
    background: #008000
}

.very-good {
    border: 5px solid #008000;
    background: #00c400
}

.unrated {
    border: 5px solid #404040;
    background: #808080;
}

.card {
    transition: transform 0.4s, box-shadow 0.4s, font-weight 0.4s;
    height: 10rem;
}

.card:hover {
    box-shadow: 15px 15px black;
    transform: translateY(-15px) translateX(-15px);
    font-weight: bold;
}

.navbar-brand:hover, .nav-link:hover, .btn:hover {
    transform: translateY(-5px);
    color: white
}

.btn-outline-light:hover, .btn-outline-warning:hover {
    background-color: #1a1c1d;
}

.navbar-brand, .nav-link, .btn {
    transition: transform 0.25s;
    color: white;
}

.btn, h1, h2, h3, h4, h5, h6, .h4 {
    color: white
}

img {
    width: 5%;
    height: 5%;
    border-radius: 100%;
    border: 2px solid white;
}

a, .navbar-brand, .active {
    text-decoration: none;
    color: white !important;
}


.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}

/*label {
    color: white;
    text-shadow:
    1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}*/
