:root {
    --border-radius: 50px;
    --bgcolor: #181a1b;
    --static: url("static.gif");
}

body, nav, footer {
    background-color: var(--bgcolor);
    font-family: system-ui;
}

.loading {
    background-image: var(--static);
    border-radius: var(--border-radius)
}

.layout {
    border-radius: var(--border-radius);
}

.public {
    background: linear-gradient(to top, #00007f, blue, #007fff, #00ffff);
}

.public-dark {
    background: linear-gradient(to top, #00003f, #00007e, #0000bd, #0000fc);
}

.auth {
    background: linear-gradient(to top, #007f00, #00ff00, #7fff00, #ffff00);
}

.auth-dark {
    background: linear-gradient(to top, #003f00, #007f00, #00bd00, #00fc00);
}

.admin {
    background: linear-gradient(to top, #3f3f00, #7f7f29, #bebe00, #fdfd00);
}

.admin-dark {
    background: linear-gradient(to top, #1f1f00, #3f3f1d, #5e5e00, #7f7f00);
}

.error {
    background: linear-gradient(to top, #000000, #7f0000, red, #ff7f00);
}

.error-dark {
    background: linear-gradient(to top, black, #3f0000, #7f0101, #fc0000);
}

.user {
    background: linear-gradient(to top, #323232, #646464, #969696);
}

.box {
    padding: 50px;
    color: white;
    box-shadow: 20px 25px black;
    background: #1a1c1d;
}

.alert-danger {
    background-color: darkred;
    border: 5px solid black
}


.box-dark {
    padding: 50px;
    color: white;
    box-shadow: 20px 20px black;
    background: var(--bgcolor)
}

.very-bad {
    border: 5px solid #400000;
    background: #800000
}

.bad {
    border: 5px solid #800000;
    background: #c40000
}

.mid {
    border: 5px solid #404000;
    background: #808000
}

.good {
    border: 5px solid #004000;
    background: #008000
}
.very-good {
    border: 5px solid #008000;
    background: #00c400
}

.unrated {
    border: 5px solid #404040;
    background: #808080;
}

.card {
    transition: transform 0.4s, box-shadow 0.4s, font-weight 0.4s;
    height: 10rem;
}

.card:hover {
    box-shadow: 15px 15px black;
    transform: translateY(-15px) translateX(-15px);
    font-weight: bold;
}

.navbar-brand:hover, .nav-link:hover, .btn:hover {
    transform: translateY(-5px);
    color: white
}

.btn-outline-light:hover {
    background-color: #1a1c1d;
}

.navbar-brand, .nav-link, .btn {
    transition: transform 0.25s;
    color: white;
}

.btn, h1, h2, h3, h4, h5, h6, .h4 {
    color: white
}

img {
    width: 5%;
    height: 5%;
    border-radius: 100%;
    border: 2px solid white;
}

a, .navbar-brand, .active {
    text-decoration: none;
    color: white !important;
}


.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}

/*label {
    color: white;
    text-shadow:
    1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}*/